<div class="page my-starling-page">
    <h2 class="page-title">
        {{t 'myStarling.title'}}
    </h2>
    <div class="">
        {{#link-to 'moods.add' class='btn route-link'}}
            {{t 'myStarling.linkToMoodTracker'}}
        {{/link-to}}
    </div>
    <div class="">
        {{#link-to 'moods.list' class='btn route-link'}}
            {{t 'myStarling.linkToMoodHistory'}}
        {{/link-to}}
    </div>
</div>
