
/* Shared styles - START - ---------------------------------------------------------------------- */

.picker__holder {
    width: 100%;
}

.picker__input {
    cursor: pointer;
}

.picker__button--clear {
    display: none !important;
}

/* Shared styles - END - ------------------------------------------------------------------------ */

/* Pickadate date-picker custom styles - START - ------------------------------------------------ */

/* Pickadate date-picker custom styles - END - -------------------------------------------------- */

/* Pickatime time-picker custom styles - START - ------------------------------------------------ */

.picker__list {
    padding: 0 0 4.17em;
}

// 

/* Pickatime time-picker custom styles - END - -------------------------------------------------- */
