/* Starling Minds Mood Tracker app variables ---------------------------------------------------- */

/* Colours related variables - START - ---------------------------------------------------------- */

/* Colours - START - ---------------------------------------------------------------------------- */

$true-blue: #2980b9;
$sky-blue: #3498d8;
$baby-blue: #99cbeb;
$steel-blue: #ebf1fa;

$dark-blue: #104868;
$berry-blue: #1895c6;
$clear-blue: #3bc6ea;
$clear-sky-blue: #86e6fa;
$ice-blue: #aef5ff;
$iceberg-blue: #dcfdff;

$dark-purple: #602c83;
$fanta-purple: #a045ae;
$grape: #c073e0;
$bubble-gum-grape: #d7b9ed;
$gum-grape: #e7daf7;
$light-grape: #f2eff9;

$dark-green: #235f3f;
$avocado-green: #27ae60;
$pea-green: #53cc78;
$bright-green: #92e8a3;
$midori-green: #d1ffd0;

$dark-yellow: #8d5c1c;
$mustard-orange: #ffb729;
$tangerine-orange: #ffd04f;
$bright-orange: #ffe688;
$cream-orange: #fff4b5;
$light-orange: #fff9dc;

$dark-red: #931411;
$strawberry-red: #f75f5f;
$watermelon-red: #ff8884;
$bright-red: #ffbbae;
$pastel-red: #ffddd9;
$light-red: #ffefee;

$ash-grey: #4a4a4a;
$cement-grey: #787878;
$ink-navy: #acbfcb;
$cloudy-navy: #d3d9dd;
$white: #f2f2f0;

/* Colours - END - ------------------------------------------------------------------------------ */

$btn-color: $mustard-orange;
$btn-hover-color: $btn-color;

/* Colours related variables - END - ------------------------------------------------------------ */
